@import '../../../sass/abstracts/variables.scss';
@import '../../../sass/abstracts/mixins.scss';

.navigation {
    position: relative;

    .cheakbox {
        display: none;
    }

    .button {
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        background-color: $color-white;
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50rem;
        z-index: 20;
        box-shadow: 0 2rem 2.5rem rgba($color-black, 0.2);
        cursor: pointer;
    }

    .background {
        position: fixed;
        top: 4rem;
        right: 4rem;
        display: block;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 10;
        transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .nav {
        width: 100%;
        text-align: center;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 15;
        opacity: 0;
        visibility: hidden;
        transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .list {
        list-style: none;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .item {
        display: block;
        font-size: 2.5rem;
        font-weight: 300;
        padding: 2rem 3rem;

        @include respond(phone) {
            font-size: 2.5rem;
            padding: 2rem 0;
        }
    }

    .link {
        &,
        &:link,
        &:visited {
            display: block;
            text-decoration: none;
            color: $color-white;
            background-image: linear-gradient(30deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 260%;
            padding: 0 3rem;
            transition: all 0.5s;

            @include respond(phone) {
                background-size: 270%;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
        }

        span {
            margin-right: 1rem;
        }
    }

    // FUNCTIONALITY
    .cheakbox:checked ~ .background {
        transform: scale(80);
    }

    .cheakbox:checked ~ .nav {
        opacity: 1;
        visibility: visible;
    }

    // ICON
    .icon {
        position: relative;
        margin-top: 2.7rem;
        margin-left: 1.3rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 2.85rem;
            height: 0.18rem;
            background-color: $color-gray-dark;
        }

        &::before {
            top: -0.7rem;
        }

        &::after {
            top: 0.7rem;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.3s;
        }
    }

    .button:hover .icon::before {
        top: -0.8rem;
    }

    .button:hover .icon::after {
        top: 0.8rem;
    }

    .cheakbox:checked ~ .button .icon::before {
        transform: rotate(135deg);
        top: 0;
    }

    .cheakbox:checked ~ .button .icon {
        background-color: transparent;
    }

    .cheakbox:checked ~ .button .icon::after {
        transform: rotate(-135deg);
        top: 0;
    }
}
